body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:453px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:129px;
  width:395px;
  height:730px;
  overflow:hidden;
}
#u767_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:730px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
}
#u767_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:375px;
  height:300px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:188px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:190px;
  width:187px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:167px;
  word-wrap:break-word;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:188px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:240px;
  width:187px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:188px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:290px;
  width:187px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:167px;
  word-wrap:break-word;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:188px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:340px;
  width:187px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:167px;
  word-wrap:break-word;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:188px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:390px;
  width:187px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:167px;
  word-wrap:break-word;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:440px;
  width:188px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:13px;
  width:168px;
  word-wrap:break-word;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:440px;
  width:187px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:167px;
  word-wrap:break-word;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:375px;
  height:170px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:20px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:130px;
  width:335px;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:40px;
  width:100px;
  height:80px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791 {
  position:absolute;
  left:49px;
  top:45px;
}
#u791_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:84px;
  background-image:none;
}
#u791_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#333333;
  line-height:28px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:58px;
  width:6px;
  height:12px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:50px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u798_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#0079FE;
  text-align:left;
  line-height:20px;
}
#u798.mouseDown {
  opacity:0.5;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:826px;
  width:29px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:433px;
  height:62px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:82px;
  width:30px;
  height:803px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:826px;
  width:373px;
  height:59px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:82px;
  width:30px;
  height:803px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
